{% extends "base.html" %}
{% block main_content%}
<main class="main main--about">
    <p>
        Hi, I'm Vishruti Sharma! a passionate backend developer and 4<sup>th</sup> year undergraduate from Jaypee University 
        of Information Technology. 
 
    <p>
        I have my interests, particularly in web and backend development.
        I'm experienced with programming languages and frameworks like Python, C++, C, Flask, Jinja2.
        I have also worked with MongoDB and MYSQL.
    </p>
    <p>
      Besides this I have a keen interest in painting, singing and photography.
    </p>
</main>



{% endblock %}