{% extends "base.html" %}

{% block main_content%}
<main class="main main--content">
    <dl>
        <div class="contact">
            <dt> <a class="contact__link" href="mailto:sharmavishruti0vs@gmail.com">Email</dt><i style="font-size:24px;margin-left: 0.4rem;" class="fa">&#xf0e0;</i>
            <dd class="contact__details">
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>   <a class="contact__link" href="https://github.com/Vishrutisharma0">Github </dt><i style="font-size:28px; margin-left: 0.4rem;" class="fa">&#xf09b;</i>
            <dd class="contact__details">
             </a>
            </dd>
        </div>
        <div class="contact">
            <dt><a class="contact__link" href="https://www.linkedin.com/in/vishrutisharma22">LinkedIn</dt><i style="font-size:28px;margin-left: 0.4rem;" class="fa">&#xf08c;</i>
            <dd class="contact__details">
                </a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}